{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<div id="body_header">
    <h1 align="left">Hello Chef,Welcome to the Food Express</h1>
</div>

<table class="key-value-table" summary="User Details">
    <caption>Health Expert Details.</caption>
    <tbody>
    <tr>
        <th class="width-20">Name:</th>
        <td>John Doe</td>
    </tr>
    <tr>
        <th>Qualification:</th>
        <td>Hotel Management,Cook's Trade Certification </td>
    </tr>
    <tr>
        <th>Age:</th>
        <td>38 Years</td>
    </tr>
    <tr>
        <th>Join Date:</th>
        <td>August 21, 2019</td>
    </tr>
    <tr>
        <th>Expertise:</th>
        <td>Chinese, Italian, French cuisines</td>
    </tr>
    </tbody>

</table>
{% endblock %}