{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<div id="body_header">
    <h1 align="left">Hello health Expert,Welcome to the Food Express</h1>
</div>
<table class="key-value-table" summary="User Details">
    <caption>Health Expert Details.</caption>
    <tbody>
    <tr>
        <th class="width-20">Name:</th>
        <td>John Doe</td>
    </tr>
    <tr>
        <th>Address:</th>
        <td>123 Fake St.<br>Albany NY, 12202</td>
    </tr>
    <tr>
        <th>Age:</th>
        <td>38 Years</td>
    </tr>
    <tr>
        <th>Join Date:</th>
        <td>August 21, 2019</td>
    </tr>
    <tr>
        <th>Type:</th>
        <td>Nutritionist</td>
    </tr>
    </tbody>

</table>
    {% endblock %}