{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<div id="body_header">
    <h1 align="left">Updating the Chef data </h1>
</div>
<form method="POST">
    <h3 align="left">Chef Profile</h3>
    <div class="form-group">
        <label for="first_name">First Name </label>
        <input
                type="first_name"
                class="form-control"
                id="first_name"
                name="first_name"
                placeholder="Enter First Name "
        />
    </div>
    <div class="form-group">
        <label for="last_name">Last Name </label>
        <input
                type="last_name"
                class="form-control"
                id="last_name"
                name="last_name"
                placeholder="Enter Last Name "
        />
    </div>
    <div class="form-group">
        <label for="qualification">qualification </label>
        <input
                type="qualification"
                class="form-control"
                id="qualification"
                name="qualification"
                placeholder="Enter qualification"
        />
    </div>
    <div class="form-group">
        <label for="expertise">expertise </label>
        <input
                type="expertise"
                class="form-control"
                id="expertise"
                name="expertise"
                placeholder="Enter expertise"
        />
    </div>
    <div class="form-group">
        <label for="fruits_description">fruits_description </label>
        <input
                type="fruits_description"
                class="form-control"
                id="fruits_description"
                name="fruits_description"
                placeholder="Enter fruits_description"
        />
    </div>

    <button type="button">Update</button>
</form>

{% endblock %}