{% extends "base.html" %} {% block title %}Account{% endblock %} {% block content%}
<h1 align="center">Hello</h1>
<h2 align="center">Welcome Back to the Food Express</h2>
<br></br>

<form method="POST">
    <h3 align="center">User Taste Form </h3>
    <div class="form-group">
        <label for="Cuisine">Cuisine </label>
        <input
                type="cuisine"
                class="form-control"
                id="cuisine"
                name="cuisine"
                placeholder="Enter cuisine "
        />
    </div>
    <div class="form-group">
        <label for="Dish_description">Dish_description </label>
        <input
                type="Dish_description"
                class="form-control"
                id="Dish_description"
                name="Dish_description"
                placeholder="Enter Dish_description"
        />
    </div>
    <div class="form-group">
        <label for="Vegetable_Description">vegetable_description </label>
        <input
                type="vegetable_description"
                class="form-control"
                id="vegetable_description"
                name="vegetable_description"
                placeholder="Enter vegetable_description"
        />
    </div>
    <div class="form-group">
        <label for="fruits_description">fruits_description </label>
        <input
                type="fruits_description"
                class="form-control"
                id="fruits_description"
                name="fruits_description"
                placeholder="Enter fruits_description"
        />
    </div>
    <div class="form-group">
        <label for="flavours_description">flavours_description </label>
        <input
                type="flavours_description"
                class="form-control"
                id="flavours_description"
                name="flavours_description"
                placeholder="Enter flavours_description"
        />
    </div>
    <button type="button">Update</button>
</form>


{% endblock %}