.content{
  padding-top:25px;
  height:400px;
  width:1000px;
}
.box{
  float:right;
  width:40%;
}
.image{
  float:left;
  margin-top: 25px;
  width:50%;
  height:380px;
  max-width: 70%;
}
body{
    background-color: #40434E;
    font-style: normal;
    color: white;
}
.form-group{
width : 70%
}
caption{
color : red;
}